<%= form_with(model: @SurveyFixed, url: surveysfixed_path) do |form| %>

 Bem vindo ao seu questionário de saúde! Todas as informações abaixo são obrigatórias. Após terminar o preenchimento clique em Salvar.
 <br>
 <br>
  
<%= form.fields_for :answer do |answer_fields| %>
    <div>
      <%= answer_fields.label "Sexo:" %>
      <%= answer_fields.collection_radio_buttons :sex, SurveyFixed.sexes, :first, :last, required: true %>
    </div>
<%end%>


  <br>  
  <%= form.label "Em geral, você diria que sua saúde é:" %>
    <% SurveyFixed.selfPerceptions.each do |key, value| %>
    <%= form.radio_button :selfPerception, key, required: true %>
    <%= form.label "selfPerception_#{key}", value.humanize %>
  <% end %>
  <br> 
  <!--
  <div>
    <%= form.label "Sexo" %>
    <%= form.select :sex, SurveyFixed.sexes.map { |key, value| [value.humanize, key] } %>
  </div>
  
    <div>
    <%= form.label "Em geral, você diria que sua saúde é:" %>
    <%= form.select :selfPerception, SurveyFixed.selfPerceptions.map { |key, value| [value.humanize, key] } %>
  </div>
  -->


  <div>
    <%= form.label "Nos últimos 12 meses você passou a noite como paciente de algum hospital? (considerar apenas quantas vezes ficou internado e vezes que passou a noite em observação)" %>
    <%= form.select :nightAsPatient, SurveyFixed.nightAsPatients.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Nos últimos 12 meses, quantas vezes você procurou o médico ou uma clínica para tratamento? (considerar número de vezes que passou em consulta ou idas ao Pronto Socorro)" %>
    <%= form.select :searchedDoctor, SurveyFixed.searchedDoctors.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Sente alguma dor que interfira ou prejudique a realização das suas atividades de vida ou no desempenho do trabalho?" %>
    <%= form.select :painThatImpairs, SurveyFixed.painThatImpairs.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "No momento atual, você toma quantas medicações diferentes para tratamento de doenças? (incluir o uso de vitaminas)" %>
    <%= form.select :manyDailyMedications, SurveyFixed.manyDailyMedications.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Algum médico já te disse que você tem diabetes? (há mais de 12 meses?)" %>
    <%= form.select :haveDiabetes, SurveyFixed.haveDiabetes.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Qual o valor a sua última hemoglobina glicada?" %>
    <%= form.select :glycatedHemoglobin, SurveyFixed.glycatedHemoglobins.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você alguma vez já teve doença do coração? Angina? Infarto do miocárdio? Ataque do coração?" %>
    <%= form.select :heartAttack, SurveyFixed.heartAttacks.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você tem alguém na sua família (pais, irmãos) com história de câncer? (história familiar de neoplasia?)" %>
    <%= form.select :familyHistoryOfCancer, SurveyFixed.familyHistoryOfCancers.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Qual?" %>
    <%= form.select :whatFamilyCancer, SurveyFixed.whatFamilyCancers.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você alguma vez já teve o diagnóstico de algum tipo de câncer, excluindo câncer de pele? (história pessoal de neoplasia?)" %>
    <%= form.select :hadCancer, SurveyFixed.hadCancers.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Qual?" %>
    <%= form.select :whatYourCancer, SurveyFixed.whatYourCancers.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você trata ou já tratou alguma vez de depressão?" %>
    <%= form.select :treatmentOfDepression, SurveyFixed.treatmentOfDepressions.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você já teve alguma vez o diagnóstico de alguma doença de memória feito por algum médico?" %>
    <%= form.select :memoryDisease, SurveyFixed.memoryDiseases.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você se sente estressado ou nervoso(a)? Quanto esse estresse ou nervosismo interferem negativamente na realização das atividades ou do trabalho?" %>
    <%= form.select :jittersThatImpairs, SurveyFixed.jittersThatImpairs.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Algum médico já te disse que você tem pressão alta?" %>
    <%= form.select :treatmentForBloodPressure, SurveyFixed.treatmentForBloodPressures.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Qual o valor da sua pressão arterial sistólica?" %>
    <%= form.select :cholesterolControl, SurveyFixed.cholesterolControls.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Algum médico já te disse que você tem colesterol alto?" %>
    <%= form.select :systolicBloodPressure, SurveyFixed.systolicBloodPressures.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Qual a dosagem mais recente do seu colesterol total?" %>
    <%= form.select :totalCholesterol, SurveyFixed.totalCholesterols.map { |key, value| [value.humanize, key] } %>
  </div>

    <div>
    <%= form.label "Qual a dosagem mais recente do seu colesterol HDL? (o colesterol bom)" %>
    <%= form.select :hdl, SurveyFixed.hdls.map { |key, value| [value.humanize, key] } %>
  </div>

    <div>
    <%= form.label "Qual a sua medida de circunferência abdominal? (medida realizada com uma fita métrica na altura do umbigo)" %>
    <%= form.select :abdominalCircumference, SurveyFixed.abdominalCircumferences.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Quanto ao hábito de fumar, você:" %>
    <%= form.select :smoker, SurveyFixed.smokers.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Quantos minutos de atividade física você realiza em 1 semana? (considerar a soma dos minutos de toda atividade física que você realiza)" %>
    <%= form.select :minutesOfPhysicalActivity, SurveyFixed.minutesOfPhysicalActivities.map { |key, value| [value.humanize, key] } %>
  </div>

  <div>
    <%= form.label "Você tem vida sexual ativa, ou seja, relações com um parceiro ou parceira sexual?" %>
    <%= form.select :activeSexLife, SurveyFixed.activeSexLives.map { |key, value| [value.humanize, key] } %>
  </div>

    <div>
    <%= form.label "Você apresenta algum problema que requeira auxílio de outros para a realização de suas atividades do dia dia?" %>
    <%= form.select :someoneToLook, SurveyFixed.someoneToLooks.map { |key, value| [value.humanize, key] } %>
  </div>


  <div>
    <%= form.label "Existe algum amigo, parente ou vizinho que poderia tomar conta de você por alguns dias se você precisar?" %>
    <%= form.select :whoNeedsAssistance, SurveyFixed.whoNeedsAssistances.map { |key, value| [value.humanize, key] } %>
  </div>

  <%= form.submit %>
<% end %>