<h1>List of Users</h1>

<table>
  <thead>
    <tr>
      <th>role</th>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th> <!-- Nova coluna para ações -->
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.role %></td>
        <td><%= user.email %></td>
         <td><%= user.status %></td>
         <td>
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Home", root_path %>  