<div id="<%= dom_id event %>">
  <p>
    <strong>Survey:</strong>
    <%= event.survey_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= event.organization_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date init:</strong>
    <%= event.date_init %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= event.date_end %>
  </p>

  <p>
    <strong>Acessurl:</strong>
    <%= event.acessurl %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

</div>
