<div id="<%= dom_id answer %>">
  <p>
    <strong>Patient:</strong>
    <%= answer.patient_id %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= answer.birth_date %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= answer.sex %>
  </p>

  <p>
    <strong>Self perception:</strong>
    <%= answer.self_perception %>
  </p>

  <p>
    <strong>Night as patient:</strong>
    <%= answer.night_as_patient %>
  </p>

  <p>
    <strong>Searched doctor:</strong>
    <%= answer.searched_doctor %>
  </p>

  <p>
    <strong>Pain that impairs:</strong>
    <%= answer.pain_that_impairs %>
  </p>

  <p>
    <strong>Usage profile:</strong>
    <%= answer.usage_profile %>
  </p>

  <p>
    <strong>Many daily medications:</strong>
    <%= answer.many_daily_medications %>
  </p>

  <p>
    <strong>Have diabetes:</strong>
    <%= answer.have_diabetes %>
  </p>

  <p>
    <strong>Glycated hemoglobin:</strong>
    <%= answer.glycated_hemoglobin %>
  </p>

  <p>
    <strong>Heart attack:</strong>
    <%= answer.heart_attack %>
  </p>

  <p>
    <strong>Family history of cancer:</strong>
    <%= answer.family_history_of_cancer %>
  </p>

  <p>
    <strong>What family cancer:</strong>
    <%= answer.what_family_cancer %>
  </p>

  <p>
    <strong>Had cancer:</strong>
    <%= answer.had_cancer %>
  </p>

  <p>
    <strong>What your cancer:</strong>
    <%= answer.what_your_cancer %>
  </p>

  <p>
    <strong>Treatment of depression:</strong>
    <%= answer.treatment_of_depression %>
  </p>

  <p>
    <strong>Memory disease:</strong>
    <%= answer.memory_disease %>
  </p>

  <p>
    <strong>Jitters that impairs:</strong>
    <%= answer.jitters_that_impairs %>
  </p>

  <p>
    <strong>Treatment for blood pressure:</strong>
    <%= answer.treatment_for_blood_pressure %>
  </p>

  <p>
    <strong>Cholesterol control:</strong>
    <%= answer.cholesterol_control %>
  </p>

  <p>
    <strong>Systolic blood pressure:</strong>
    <%= answer.systolic_blood_pressure %>
  </p>

  <p>
    <strong>Total cholesterol:</strong>
    <%= answer.total_cholesterol %>
  </p>

  <p>
    <strong>Hdl:</strong>
    <%= answer.hdl %>
  </p>

  <p>
    <strong>Abdominal circumference:</strong>
    <%= answer.abdominal_circumference %>
  </p>

  <p>
    <strong>Smoker:</strong>
    <%= answer.smoker %>
  </p>

  <p>
    <strong>Cigarettes quantity:</strong>
    <%= answer.cigarettes_quantity %>
  </p>

  <p>
    <strong>Many years smoked:</strong>
    <%= answer.many_years_smoked %>
  </p>

  <p>
    <strong>Minutes of physical activity:</strong>
    <%= answer.minutes_of_physical_activity %>
  </p>

  <p>
    <strong>Active sex life:</strong>
    <%= answer.active_sex_life %>
  </p>

  <p>
    <strong>Someone to look:</strong>
    <%= answer.someone_to_look %>
  </p>

  <p>
    <strong>Who needs assistance:</strong>
    <%= answer.who_needs_assistance %>
  </p>

</div>
