<section class="section">
    <article class="panel is-primary">
        <p class="panel-heading">
        Aconselhamento
        </p>
       
        <section class="section">
          <div class="content is-max-desktop">
            <h1><%= @patient.name%>, <%= @advice_check.age %> anos</h1>
          </div>
          <br>
          
           <section class="hero is-small <%=@color_hero_hospitalization%>">
            <div class="hero-body">
              <p class="title">


                Risco de internação hospitalar
              </p>
              <p class="subtitle">
                <%= @advice_check.hospitalization_classification %>
              </p>
            </div>
          </section>
          <br>
           <section class="hero is-small <%=@color_hero_cardio%>">
            <div class="hero-body">
              <p class="title">
                Risco de evento cardiovascular em 10 anos
              </p>
              <p class="subtitle">
                <%= @advice_check.cardio_classification %>
              </p>
            </div>
          </section>
          <br>
          <section class="hero is-small <%=@color_hero_abvita%>">
            <div class="hero-body">
              <p class="title">
                Risco AbVita
              </p>
              <p class="subtitle">
                <%= @advice_check.abvita_classification %>
              </p>
            </div>
          </section>
          <br>
          <section class="hero is-small <%=@color_hero_final%>">
            <div class="hero-body">
              <p class="title">
                Risco final
              </p>
              <p class="subtitle">
                <%= @advice_check.final_classification %>
              </p>
            </div>
          </section>
          <br>
           
          <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Exames/Metas
              </p>
              <p class="subtitle">
                <br>
                DIABETES (sugestões): <%=@advice_messages["msgDoctorInfo-DIAB"]%> 
                <div class="columns">
                  <div class="column">
                    Exames anuais:<BR><%=@advice_messages["msgExamsYears-DIAB"]%>
                    <br>
                    <br>
                    Exames trimestrais:<BR><%=@advice_messages["msgExamsQuarterly-DIAB"]%>
                  </div>
                  <div class="column">
                    Outros exames sugeridos:<BR><%=@advice_messages["msgExamsAnother-DIAB"]%>
                  </div>
                  <div class="column">
                    Exames finais:<BR><%=@advice_messages["msgExamsGoal-DIAB"]%>
                  </div>
                </div>
              </p>
               <p class="subtitle">
                <br>
                HIPERTENSÃO (sugestões): <%=@advice_messages["msgDoctorInfo-HYP"]%> 
                <div class="columns">
                  <div class="column">
                    Exames anuais:<BR><%=@advice_messages["msgExamsYears-HYP"]%>
                    <br>
                    <br>
                    Exames trimestrais:<BR><%=@advice_messages["msgExamsQuarterly-HYP"]%>
                  </div>
                  <div class="column">
                    Outros exames sugeridos:<BR><%=@advice_messages["msgExamsAnother-HYP"]%>
                  </div>
                  <div class="column">
                    Exames finais:<BR><%=@advice_messages["msgExamsGoal-HYP"]%>
                  </div>
                </div>
              </p>
               <p class="subtitle">
                <br>
                CARDÍACOS (sugestões): <%=@advice_messages["msgDoctorInfo-HD"]%> 
                <div class="columns">
                  <div class="column">
                    Exames anuais:<BR><%=@advice_messages["msgExamsYears-HD"]%>
                    <br>
                    <br>
                    Exames trimestrais:<BR><%=@advice_messages["msgExamsQuarterly-HD"]%>
                  </div>
                  <div class="column">
                    Outros exames sugeridos:<BR><%=@advice_messages["msgExamsAnother-HD"]%>
                  </div>
                  <div class="column">
                    Exames finais:<BR><%=@advice_messages["msgExamsGoal-HD"]%>
                  </div>
                </div>
              </p>
              <p class="subtitle">
                <br>
                TABAGISTAS (sugestões): <%=@advice_messages["msgDoctorInfo-SMK"]%> 
                <div class="columns">
                  <div class="column">
                    Exames anuais:<BR><%=@advice_messages["msgExamsYears-SMK"]%>
                    <br>
                    <br>
                    Exames trimestrais:<BR><%=@advice_messages["msgExamsQuarterly-SMK"]%>
                  </div>
                  <div class="column">
                    Outros exames sugeridos:<BR><%=@advice_messages["msgExamsAnother-SMK"]%>
                  </div>
                  <div class="column">
                    Exames finais:<BR><%=@advice_messages["msgExamsGoal-SMK"]%>
                  </div>
                </div>
              </p>
            </div>
          </section>
          <br>

          <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Equipe multiprofissional
              </p>
              <p class="subtitle">
                
                 <br>
                  <div class="columns">
                    <div class="column">
                      DIABETES:
                      <br>
                      Terapia de grupo:<%=@advice_messages["msgMultiTherapeuticGroup-DIAB"]%>
                      <br>
                      Teleorientação:<%=@advice_messages["msgMultiTelemonitoring-DIAB"]%>
                      <BR>
                      Grupo atendimento:<%=@advice_messages["msgMultiAmbulatory-DIAB"]%>
                    </div>
                    <div class="column">
                      HIPERTENSÃO:
                      <br>
                      Terapia de grupo:<%=@advice_messages["msgMultiTherapeuticGroup-HYP"]%>
                      <br>
                      Teleorientação:<%=@advice_messages["msgMultiTelemonitoring-HYP"]%>
                      <BR>
                      Grupo atendimento:<%=@advice_messages["msgMultiAmbulatory-HYP"]%>
                    </div>
                    <div class="column">
                      CARDÍACOS:
                      <br>
                      Terapia de grupo:<%=@advice_messages["msgMultiTherapeuticGroup-HD"]%>
                      <br>
                      Teleorientação:<%=@advice_messages["msgMultiTelemonitoring-HD"]%>
                      <BR>
                      Grupo atendimento:<%=@advice_messages["msgMultiAmbulatory-HD"]%>
                    </div>
                    <div class="column">
                      TABAGISTAS:
                      <br>
                      Terapia de grupo:<%=@advice_messages["msgMultiTherapeuticGroup-SMK"]%>
                      <br>
                      Teleorientação:<%=@advice_messages["msgMultiTelemonitoring-SMK"]%>
                      <BR>
                      Grupo atendimento:<%=@advice_messages["msgMultiAmbulatory-SMK"]%>
                    </div>
                  </div>
              </p>
            </div>
          </section>
          <br>
           <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Aconselhamento
              </p>
               <p class="subtitle">
                
                 <br>
                  <div class="columns">
                    <div class="column">
                      DIABETES:
                      <br>
                      Aconselhamento:<%=@advice_messages["msgAdvice-DIAB"]%>
                    </div>
                    <div class="column">
                      HIPERTENSÃO:
                      <br>
                      Aconselhamento:<%=@advice_messages["msgAdvice-HYP"]%>
                    </div>
                    <div class="column">
                      CARDÍACOS:
                      <br>
                      Aconselhamento:<%=@advice_messages["msgAdvice-HD"]%>
                    </div>
                    <div class="column">
                      TABAGISTAS:
                      <br>
                      Aconselhamento:<%=@advice_messages["msgAdvice-SMK"]%>
                    </div>
                  </div>
              </p>
            </div>
          </section>
      </section>
    <article>
</section>