<section class="section">
    <article class="panel is-primary">
        <p class="panel-heading">
        Aconselhamento
        </p>
       
        <section class="section">
          <div class="content is-max-desktop">
            <h1><%= @patient.name%>, <%= @advice_check.age %> anos</h1>
          </div>
          <br>
           <section class="hero is-small <%=@color_hero_hospitalization%>">
            <div class="hero-body">
              <p class="title">
                Risco de internação hospitalar
              </p>
              <p class="subtitle">
                <%= @advice_check.hospitalization_classification %>
              </p>
            </div>
          </section>
          <br>
           <section class="hero is-small <%=@color_hero_cardio%>">
            <div class="hero-body">
              <p class="title">
                Risco de evento cardiovascular em 10 anos
              </p>
              <p class="subtitle">
                <%= @advice_check.cardio_classification %>
              </p>
            </div>
          </section>
          <br>
          <section class="hero is-small <%=@color_hero_abvita%>">
            <div class="hero-body">
              <p class="title">
                Risco AbVita
              </p>
              <p class="subtitle">
                <%= @advice_check.abvita_classification %>
              </p>
            </div>
          </section>
          <br>
          <section class="hero is-small <%=@color_hero_final%>">
            <div class="hero-body">
              <p class="title">
                Risco final
              </p>
              <p class="subtitle">
                <%= @advice_check.final_classification %>
              </p>
            </div>
          </section>
          <br>
           
          <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Exames/Metas
              </p>
              <p class="subtitle">
                <%=@advice_messages["msgDoctorInfo"] + @advice_messages["msgDoctorInfo-HYP"]%>
                <br>
                <b>Exames anuais sugeridos:</b> <%=@advice_messages["msgExamsYears"] + @advice_messages["msgExamsYears-HYP"]%>
                <br>
                <b>Exames trimestrais sugeridos:</b> <%=@advice_messages["msgExamsQuarterly"]%>
                <br>
                <b>Outros exames sugeridos:</b> <%=@advice_messages["msgExamsAnother"]%>
                <br>
                <b>Exames finais:</b> <%=@advice_messages["msgExamsGoal"]%>
              </p>
            </div>
          </section>
          <br>
          <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Equipe multiprofissional
              </p>
              <p class="subtitle">
                <%=@msgMultiAmbulatory%>
                <br>
                <b>Terapia de grupo:</b> <%=@advice_messages["msgMultiTherapeuticGroup"]%>
                <br>
                <b>Teleorientação:</b> <%=@advice_messages["msgMultiTelemonitoring"]%>
              </p>
            </div>
          </section>
          <br>
           <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Aconselhamento
              </p>
              <p class="subtitle">
                <b>Aconselhamento:</b> <%=@advice_messages["msgAdvice"]%>
              </p>
            </div>
          </section>
          <br>
           <section class="hero is-small is-info">
            <div class="hero-body">
              <p class="title">
                Apenas se surgir demanda
              </p>
              <p class="subtitle">
                <%=@advice_messages["msgDemand"]%>
              </p>
            </div>
        </section>
        <br>
      </section>
    <article>
</section>