<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <!-- Campos do usuário -->
    <%= form.fields_for :user, patient.user do |user_fields| %>
       <%= user_fields.hidden_field :role, value: "patient" %>
       Email: <%= user_fields.email_field :email %>
      Senha: <%= user_fields.password_field :password %>
    <% end %>

  <%if patient.event.blank?%>


  <div>
    <%= form.label :event_id, style: "display: block" %>
    <%= form.collection_select(:event_id, @events, :id, :name) %>
  </div>

  <%else%>
      <div>
        <%= form.label "Cliente: #{patient.event.organization.name}", style: "display: block" %>
      </div>

       <div>
        <%= form.label "Cliente: #{patient.event.name}", style: "display: block" %>
      </div>
  <%end%>





  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :birthday, style: "display: block" %>
    <%= form.date_field :birthday %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
