<div id="<%= dom_id patient %>">
  <p>
    <strong>User:</strong>
    <%= patient.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= patient.event_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= patient.birthday %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= patient.cpf %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= patient.status %>
  </p>

</div>
