<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Fantasyname:</strong>
    <%= organization.fantasyname %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= organization.cnpj %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= organization.status %>
  </p>

</div>
