<div id="<%= dom_id organization %>">
  
 <tr>
      <td><%= organization.name %></td>
      <td><%= organization.fantasyname %></td>
      <td><%= organization.cnpj %></td>
      <td><%= organization.status %></td>
      <td>
        <%= link_to 'Editar', edit_organization_path(organization) %> |
        <%= link_to 'Remover', organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
  </tr>
</div>
